@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

:root {
    --bg-color: #1C1C1C;
    --text-color: #FFF;
    --searchbar: #ffffff20;
    --icons: #FFF;
    --primary-color: #3BB77E;
    --secondary-color: #f3f2f2;
    --add-button: #DEF9EC;
    --sale: #FFD480;
    --white: #FFF;
    --header-mail: #5C5C5C;
    --arrow-btn: #f2f3f444;
    --card-bg: #feefea5b;
    --featured: #ffffff2d;
}

.daymode {
    --primary-color: #3BB77E;
    --secondary-color: #ADADAD;
    --bg-color: #FFF;
    --searchbar: #F3F3F3;
    --text-color: #253D4E;
    --banner: #FFF7E6;
    --card-bg: #FEEFEA;
    --icons: #2c2c2c;
    --header-mail: #fff;
    --arrow-btn: #f2f3f4;
    --featured: 2px solid #adadad49;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    transition: .5s;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    color: var(--text-color);
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    font-weight: 500;
}

i {
    font-size: 20px;
    color: var(--icons);
}

.container {
    max-width: 1300px;
    padding: 0px 20px;
    margin: 0px auto;
}

/* Navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 5px 0px;
    gap: 5px;
}

.logo img {
    width: 36px;
    height: 36px;
}

.logo #logotxt h2 {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 600;
}

.logo #logotxt p {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px 0px 15px 15px;
    height: 45px;
    border-radius: 8px;
    background-color: var(--searchbar);
    border: none;
    overflow: hidden;
    outline: none;
    width: max-content;
}

.searchbar form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: transparent;
    color: var(--text-color);
}

.searchbar form select {
    color: var(--text-color);
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    border: none;
    outline: none;
}

.searchbar form select option {
    background-color: var(--searchbar);
    z-index: 5;
}

.searchbar p {
    font-size: 18px;
    background-color: transparent;
}

.searchbar input {
    color: var(--secondary-color);
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    width: 350px;
}

.searchbar #s_icon {
    width: 80px;
    height: 45px;
    overflow: hidden;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 8px 8px 0px;
}

.searchbar #s_icon i {
    background-color: transparent;
    color: var(--white);
    font-size: 24px;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 0px 10px 30px;
}

.pages i {
    font-size: 22px;
    color: var(--icons);
}

.wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.wishlist p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}

.my_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.my_cart p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}

.my_cart .bi-chevron-down {
    font-size: 12px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.user i {
    font-size: 36px;
}

.user p {
    font-size: 18px;
    font-weight: 600;
}

.user .bi-chevron-down {
    font-size: 12px;
}

#modeswitcher {
    font-size: 22px;
    padding-left: 10px;
}

#nav_split {
    background-color: var(--secondary-color);
    border-radius: 20px;
    width: 100vw;
    height: 1px;
}

/* Header */
.headertop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.browse {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
}

.browse i {
    font-size: 24px;
    color: var(--white);
}

.browse p {
    font-size: 16px;
    color: var(--white);
}

.header_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.header_links :nth-child(n) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.call_center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#call_number {
    color: var(--primary-color);
    font-weight: 500 !important;
}

.bi-telephone {
    color: var(--primary-color);
    font-weight: 500 !important;
}

.banner {
    height: 480px;
    width: 100%;
    background: url(../assets/images/background.png);
    z-index: -1;
    box-sizing: border-box;
}

.banner_img {
    width: 100%;
    height: 100%;
    background-color: #c5ead9b2;
    z-index: -5;
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -480px;
}

.b_left {
    margin: auto 0px;
    padding: 90px 0px;
}

.b_left h1 {
    font-size: 55px;
    color: #253D4E;
    font-weight: 600;
}

.b_left p {
    font-size: 20px;
    color: #838383;
    padding: 30px 0px 40px 0px;
}

.b_right img {
    width: 632px;
    height: 513px;
    position: absolute;
    right: -80vh;
    top: 0vh;
}

.contact_us {
    background-color: var(--header-mail);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.contact_us form {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 0px 10px;
    background-color: transparent;
    width: 80%;
    height: 100%;
}

.contact_us form i {
    font-size: 18px;
}

.contact_us form input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
    width: 80%;
}

.contact_us form input::placeholder {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}

.b_left button {
    width: 80px;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 15px 10px;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -29.5%;
}

/* Main content */
/* Explore Categories */

.exp_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 10px 0px;

}

.ctgs ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.heading {
    font-size: 32px;
}

.ctgs ul li,
li a:hover {
    color: var(--primary-color);
}

.arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -5;
    position: relative;
    top: 125px;
}

.bi-arrow-left {
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--arrow-btn);
    padding: 5px 7px;
    border-radius: 50%;
    text-align: center;
    margin-right: 670px;
}

.bi-arrow-right {
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--arrow-btn);
    padding: 5px 7px;
    border-radius: 50%;
    text-align: center;
    margin-left: 670px;
}

.exp_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    gap: 15px;
}

.card {
    border-radius: 8px;
    background-color: var(--card-bg);
    padding: 15px;
    text-align: center;
}

.card img {
    margin: 0px auto;
    width: 100px;
    height: 100px;
}

.fruitname {
    font-size: 18px;
}

.quantity {
    color: var(--secondary-color);
    font-size: 14px;
    padding: 5px 0px;
}

/* Featured Products */

.featured_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 10px 0px;
}

.featured_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0px 10px 0px;
}

.f_card {
    border-radius: 8px;
    border: var(--featured);
    background-color: var(--featured);
}

.f_card img {
    width: 224px;
    height: 144px;
    border-radius: 8px;
}

.f_main {
    padding: 10px;
}

.which_ctg {
    font-size: 12px;
    color: var(--secondary-color);
}

.prod_name {
    font-size: 18px;
    padding: 10px 0px;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.bi-star-fill {
    color: #FDC040;
    font-size: 12px;
}

.bi-star {
    color: #838383;
    font-size: 12px;
}

.star_count {
    font-size: 12px;
}

.owner {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.owner :nth-child(2) {
    color: var(--primary-color);
    font-weight: 600;
}

.get_prod {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0px 0px 0px;
}

.f_left {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.f_left p {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 16px;
}

.f_left :nth-child(2) {
    font-size: 13px;
    text-decoration: dashed;
    color: #ADADAD;
}

.f_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 4px;
    background-color: var(--add-button);
    padding: 5px 15px;
}

.bi-cart3 {
    color: var(--primary-color);
    font-size: 16px;
}

.f_right p {
    font-size: 13px;
    color: var(--primary-color);
    font-weight: 700;
}

.ads_card {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.delivery {
    background-color: #FFD480;
    border-radius: 15px;
}

.del_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 592px;
    height: 300px;

}

#del_bg {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-size: cover;
    opacity: .5;
}